@import "compass/reset";
@import "compass/css3";

@mixin clearfix {
	*zoom: 1;
	&:after {
		content:""; display:block; clear:both;
	}
}

$width1: 960px;
$height1: floor($width1 / 1.775);
$linkcolor: #3399ff;
$hoverlinkcolor: #66ccff;
$bgcolor: #ddd;

body {
	background-color: $bgcolor;
	line-height: 1.5;
}

h1 {
	margin: 20px 0;
	font-size: 36px;
}
h2 {
	margin: 20px 0;
	font-size: 32px;
	text-align: center;
}
p {
	margin: 0 0 25px;
}
a {
	color: $linkcolor;
}

.container {
	position: relative;
	min-width: $width1;
	width: 100%;
	overflow: hidden;
}
.main {
	width: $width1;
	margin: 0 auto;
	padding-bottom: 30px;
}

.nav-dropdown {
  width: 100%;
}
.list {
  position: relative;
  background-color: #fff;
  @include clearfix;
  font-size: 18px;
  line-height: 24px;
  >li {
    position: relative;
    float: left;
    width: 25%;
    a {
      display: block;
      padding: 15px 0;
      border-right: 1px solid $bgcolor;
      color: #333;
      text-align: center;
      text-decoration: none;
    }
    .list-child {
      width: 400%;
    }
    &:nth-child(2) {
      .list-child {
        margin-left: -100%;
      }
    }
    &:nth-child(3) {
      .list-child {
        margin-left: -200%;
      }
    }
    &:nth-child(4) {
      .list-child {
        margin-left: -300%;
      }
    }
  }
}
.list-child {
  visibility: hidden;
  overflow: hidden;
  background-color: #f3f3ff;
  font-size: 14px;
  line-height: 24px;
  &.trans {
    @include single-transition(height, 250ms);
  }
}
